<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.title -%}
  <title>{{ page.title | escape }} · {{ site.title | escape }}</title>
  {% else -%}
  <title>{{ site.title | escape }}</title>
  {% endif %}

  {%- assign canonical = page.url | replace:'index.html','' | absolute_url %}
  <link rel="canonical" href="{{ canonical }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="/feed.xml">
  <link rel="icon" href="data:image/x-icon;,">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Crimson+Text&display=swap" rel="stylesheet">
  {% include head_custom.html %}
</head>
